/* start of styles for sidebar menu*/

body {
    margin: 0;
    background-image: url(FitnessBackground.jpg);
}
        
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: rgb(173, 153, 114);
    opacity: 75%;
    position: fixed;
    height: 100%;
    overflow: auto;
}
        
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 20%;
}
        
li a.active {
    background-color: #caa94e;
    color: white;
    padding-bottom: 65px;
}
        
li a:hover:not(.active) {
    background-color: rgb(226, 191, 114);
    color: white;
    padding-bottom: 65px;
}


.impact {
    font-family: Impact, Charcoal, sans-serif;
  }

/* end of styles for sidebar menu*/

.rcorners1 {
    border-radius: 25px;
    background: papayawhip;
    padding: 20px 20px 20px 50px; 
    width: 60%;
    height: 100%; 
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right:auto;

  
  }


  /*made a second div box so that I could have two boxes in a row */
  .rcorners2 {

    border-radius: 25px;
    background: papayawhip;
    padding: 20px; 
    width: 60%;
    height: 100%; 
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right:auto;
    column-gap: 50px;
    column-count: 2;
  }

  /* start of two boxes in a row */

  .container {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 43% 43% 43%
   }
   
   #one {
    border-radius: 25px;
    background: papayawhip;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    margin:5px;
    padding:20px;
   }
   
   #two  {
    border-radius: 25px;
    background: papayawhip;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    margin:5px;
    padding:20px;
   }

   #three  {
    border-radius: 25px;
    background: papayawhip;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    margin:5px;
    padding:20px;
   }


  /* end of two boxes in a row */


  /* Start of font and header changes */

  .customfont1 {
    font-size: 20px;
  }

  .welcometext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    color: orange;
  }

  .workoutheaders {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    color: orange;

  }

  .workouttext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    color: orange;
  }

  
  

