/* start of styles for top nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #925353;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2rem
}

li {
  text-align: center;
  display: inline;

}

li a {
  display: block;
  padding: 8px;
  color: #cfc5c5
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.impact {
    font-family: Impact, Charcoal, sans-serif;
  }

/* end of styles for sidebar menu*/

.rcorners1 {
    border-radius: 25px;
    background: papayawhip;
    padding: 20px 20px 20px 50px; 
    width: 60%;
    height: 100%; 
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right:auto;

  
  }



  .headertext {
    font-family: fantasy, Oldtown;
    font-size: 60px;
    text-align: center;
    color: rgb(194, 168, 119);
  }

  .contenttext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    text-align: center;
    color: orange;
  }
